@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

main .image-Box{
    position: relative;
    width: 50%;
    height: 100%;
}

main .image-Box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

main .image-Box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .content-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

main .content-Box .form-Box{
    width: 50%;
}

main .content-Box .form-Box h2{
    color: #997a8d;
    font-weight: 600;
    font-size: 1.5rem;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: px;
    border-bottom:4px solid #ff4584 ;
    display: inline-block;
    letter-spacing: 1px;
}

main .content-Box .form-Box .input-Box{
    margin-bottom: 20px;
}

main .content-Box .form-Box .input-Box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

main .content-Box .form-Box .input-Box input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color:#607d8b;
    background: transparent;
    border-radius: 30px;
}

main .content-Box .form-Box .input-Box input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

main .content-Box .form-Box .input-Box input[type="submit"]:hover{
    background: #f53677;
}

main .content-Box .form-Box .remember{
margin-bottom: 10px;
color: #607d8b;
font-weight: 400;
font-size: 14px;
}

main .content-Box .form-Box .input-Box p{
    color: #607d8b;
}

main .content-Box .form-Box .input-Box p a{
    color: #ff4584;
}

main .content-Box .form-Box h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

main .content-Box .form-Box .social{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content-Box .form-Box .social li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

main .content-Box .form-Box .social li:hover{
    background: #ff4584;
}

main .content-Box .form-Box .social li img{
    transform: scale(0.5);
    filter: invert(1);
}

.radio-buttom{
    margin-bottom: 10px;
    color: #607d8b;
}

.male-radio{
    margin-left: 10px;
    
}

.female-radio{
    margin-left: 10px;
    
}

.form-Box2{
    margin-top: auto;
}

.sign-up-text{
    margin-bottom: 15px;
}

main .content-Box .form-Box .social-heading{
    color: #607d8b;
    text-align: center;
    margin: 20px 0 10px;
    font-weight: 500;
}

@media (max-width:768px) {
    main .image-Box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    main .content-Box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    main .content-Box .form-Box{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
    main .content-Box .form-Box h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}